.vs/*
/WebApp/.vs/*
/WebApp/bin/*
/WebApp/obj/*
/WebApp/Logs/*
/WebApp/TestDatabase.db
/CloudGateWay/bin/*
/CloudGateWay/obj/*
/CloudGateWay/.vs/*
/Desktop/bin/*
/Desktop/obj/*
/Desktop/.vs/*
CoolieMint.Api/obj*
CoolieMint.Starter/bin/*
CoolieMint.Starter/obj/*
CoolieMint.WebApp.Tests/bin/*
CoolieMint.WebApp.Tests/obj/*
CoolieMint.WebApp/obj/*
CoolieMint.WebApp/bin/*
CoolieMint.WebApp/.vs/*
CoolieMint.WebClient/bin/*
CoolieMint.WebClient/obj/*
CoolieMint.WindowsClient/bin/*
CoolieMint.WindowsClient/obj/*
CoolieMint.Updater/obj/*
CoolieMint.Updater/bin/*
CoolieMint.WebApp/.config/dotnet-tools.json
CoolieMint.Starter/Properties/PublishProfiles/FolderProfile.pubxml.user
CoolieMint.Starter/Properties/PublishProfiles/FolderProfile.pubxml.user
CoolieMint.WebApp/TestDatabase.db
