<div class="interaction">
    <a class="button" asp-area="" asp-controller="System" asp-action="Action" asp-route-actionName="shutdown">Shutdown</a><br />

    <a class="button" asp-area="" asp-controller="System" asp-action="Action" asp-route-actionName="disconnectMqtt">Disconnect broker</a><br />

    <a class="button" asp-area="" asp-controller="System" asp-action="Action" asp-route-actionName="connectMqtt">Connect broker</a>

    <a class="button" asp-area="" asp-controller="System" asp-action="Action" asp-route-actionName="ReloadCustomCommands">Reload Custom Commands</a>
</div>